################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/WebApplication1/bin/Debug/net10.0
/src/WebApplication1/obj
